body {
    margin: 0;
    padding: 50px;
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #1F2937;
    width: 1000px;
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content-block {
    margin-left: 100px;
    text-align: left;
}

h1 {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #F3F4F6;
    margin: 0;
}

#next-line {
    margin: 0;
    color: #34D399;
}

h3 {
    margin-top: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    color: #D5D4D8;
}

#pass-length-request {
    margin-top: 20px;
}

#pass-request {
    color: blanchedalmond;
}

#user-input {
    width: 150px;
    height: 20px;
    margin-left: 10px;
}

#pass-gen-btn {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    background-color: #10B981;
    color: #FFFFFF;
    width: 191px;
    margin-top: 20px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#break-line {
    text-align: center;
    height: 1px;
    background-color: #2F3E53;
    margin: 35px 100px;
}

.pass-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pass-field {
    min-width: 250px;
    width: auto;
    height: 50px;
    background: #273549;
    border-radius: 6px;
    margin: 35px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #55F991;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}